body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#header{
  height: 120px;
  background-color: aliceblue;
  background: url("https://raw.githubusercontent.com/Averizer/PizzaGit/master/imagenes/iconografia/Header.png") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100% ;
  text-align: center;
  min-height: 120px;
}
#navbar{
  height: 30px;
}
